.category-store-header-container {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.category-stores-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}