.mb-twenty {
    margin-bottom: 20px;
}

.login-form-input {
    width: 80%;
    text-align: center;
}

.login-form-input input[type=email] {
    margin-bottom: 20px;
}

.login-form-input input[type=password] {
    margin-bottom: 50px;
}
