.product-card-image-preview {
    width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.product-card-image-preview img {
    height: 100%;
}