.button-style-one {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s ease;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.red-btn {
    background-color: #b80f0a;
}

.blue-btn {
    background-color: #3483da;
}

.blue-btn:hover {
    background-color: #0d47a1;
}

.red-btn:hover {
    background-color: #8d021f;
}