.profile-main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 500px;
    position: relative;
}

.profile-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}