.company-card {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12);
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(0.9); 
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(0.9); 
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(0.9);
    transition: all 300ms ease-in;
    transform: scale(0.9);
}

.company-card-logo-container {
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 200px;
}

.company-card-logo {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid black;
}

.company-card-logo img {
    height: 100%;
    width: 100%;
}


.company-card-wallpaper{
    width: 100%;
    height: 100px;
}

.company-card-wallpaper img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.company-card-name {
    font-size: 18px;
    padding-top: 50px;
    text-align: center;
    width: 100%;
}

.company-card-opinion {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
    font-size: 15px;
    margin-bottom: 60px;
    color: #3d4849;
}

.company-card-link-container {
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.company-card-link-container a {
    text-decoration: none;
    color: #3483fa;
}

.company-card:hover {
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1);   
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1);
    transition: all 300ms ease-in;
    transform: scale(1);
}
