.store-card {
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ease;
}

.store-card img {
    width: 50%;
}

.store-card h4 {
    opacity: 0;
    transition: 0.3s;
}

.store-card:hover {
    border-bottom: solid 2px #3483fa;
}

.store-card:hover h4 {
    opacity: 1;
    margin-top: 10px;
}


