.notification-pop-up {
    width: 350px;
    height: 50px;
    border-radius: 3px;
    z-index: 2;
    top: 93%;
    left: 80%;
    padding: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    animation: show 1s;
}

.notification-pop-up p {
    font-size: 15px;
}

.info-container {
    display: flex;
    align-items: center;
}

.info-container p {
    margin-left: 10px;
}

.close-container {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default {
    background-color: #3483fa;
}

.error {
    background-color: rgba(255, 0, 0, 0.5);
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}