.post-comment-card {
    position: relative;
    width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

